a #companyname {
  font-size: 30px;
}

#navbarNav {
  color: aliceblue;
  background-color: coral;
  font-size: 1.1em;
}

h3 {
  font-size: 1.2em;
}

#menutitle {
  margin-bottom: 50px;
}

#centraltext {
  background-color: lightslategray;
}



